@import url(sanitize.css);

/*------------------------------
  ここから下がハンバーガーメニューに関するCSS
------------------------------*/
.drawer {
  margin-left: 25px;
  margin-top: 10px;
  background: black;
  border-radius: 50px;
  margin-right: 1355px;
}

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  /* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 10px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 10px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background-color: #ffa500;
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #ffa500;
  transition: 0.5s;
  color: #fff;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0px;
  /* メニューを画面に入れる */
  width: 350px;
  height: 570px;
  background-color: #ffa500;
}

a {
  color: #fff;
  font-family: 'Shippori Mincho', serif;
  font-weight: bold;
  text-decoration: none;
}

#li_h {
  text-align: center;
  margin: 70px auto;
}

#li_m {
  text-align: center;
  margin: 70px auto;
}

#li_r {
  text-align: center;
  margin: 70px auto;
}

#li_n {
  text-align: center;
  margin: 70px auto;
}

#li_i {
  text-align: center;
  margin: 70px auto;
}

.drawer-item {
  transition: 0.3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.drawer-item:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.logo_img_menu img {
  width: 110px;
  margin-top: -55px;
}

header {
  text-align: center;
}

.menu-title {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Shippori Mincho', serif;
  text-align: center;
  margin-top: 30px;
}

#menu-list {
  /* background-color: black; */
  color: black;
  font-family: 'Shippori Mincho', serif;
  margin-bottom: 30px;
}

/* メニュー表 */
.genre {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  /* background-color: cyan; */
}

.menu-name {
  text-align: center;
  margin-right: 240px;
  /* margin-top: 40px; */
  /* background-color: darkorange; */
}

.menu-price {
  text-align: center;
  margin-left: 270px;
  margin-top: -40px;
  /* background-color: yellow; */
}

/* ランチ */
.lunch {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.lunch-content {
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
}

.lunch-menu {
  margin-right: 185px;
}

.spacial-limit {
  font-size: 17px;
  margin-right: 235px;
  margin-top: 25px;
  margin-bottom: -1px;
}

.special-lunch {
  font-size: 17px;
  text-align: center;
}

.special-menu {
  margin-right: 18px;
}

.modal-lunch {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.lunch-details-btn {
  background-color: #ffa500;
  color: #fff;
  padding: 13px 5px;
  border-radius: 30px;
}

.lunch-details-btn:hover {
  background-color: #fff;
  color: #ffa500;
  border: solid 2px #ffa500;
}
hr {
  max-width: 40%;
}

/* modal */
.modal {
  display: none;
  width: 400px;
  height: 360px;
  background-color: #fff;
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  margin: auto;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
  border: solid 3px #ffa500;
  border-radius: 10px;
}
#modal-check {
  text-align: center;
  display: none;
}
#modal-check:checked + .modal {
  display: block;
  padding: 10px;
  box-sizing: border-box;
}
label {
  cursor: pointer;
}

.regular {
  margin-top: 15px;
  font-weight: bold;
}

.special {
  margin-top: 50px;
  font-weight: bold;
}

.regular-content {
  font-size: 14px;
}

.special-content {
  font-size: 14px;
}

#close {
  color: #ffa500;
}

@media screen and (max-width: 1024px) {
  hr {
    max-width: 50%;
  }
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: black;
    transition: 0.5s;
    position: absolute;
  }
  #drawer-check:checked ~ .drawer-open span::before {
    background: #fff;
  }

  #drawer-check:checked ~ .drawer-open span::after {
    background: #fff;
  }
}

@media screen and (max-width: 768px) {
  hr {
    max-width: 65%;
  }
}

@media screen and (max-width: 540px) {
  hr {
    max-width: 80%;
  }
}

@media screen and (max-width: 414px) {
  hr {
    max-width: 90%;
  }

  .menu-name {
    margin-right: 150px;
  }

  .menu-price {
    margin-left: 200px;
  }
}

@media screen and (max-width: 360px) {
  .modal {
    width: 320px;
    height: 380px;
  }

  .regular {
    font-size: 15px;
  }
  .regular-content {
    font-size: 12px;
  }
  .special {
    font-size: 15px;
  }
  .special-content {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .menu-name {
    margin-right: 120px;
  }

  .menu-price {
    margin-left: 170px;
  }

  /* ランチ */
  .lunch-menu {
    margin-left: -180px;
    margin-right: 90px;
  }

  .spacial-limit {
    margin-right: 170px;
    margin-top: 25px;
    margin-bottom: -1px;
  }

  .special-lunch {
    font-size: 17px;
    text-align: center;
  }

  .special-menu {
    margin-right: 10px;
  }

  .lunch-price {
    margin-right: -180px;
  }

  .special-price {
    margin-right: -180px;
  }
}
