@import url(sanitize.css);

/* HOME動画 */
.video {
  max-width: 82%;
  height: 85vh;
  /* position: relative; */
  overflow: hidden;
}
#video {
  /* object-fit: cover;
  position: absolute; */
  max-width: 100%;
  height: 93vh;
  /* top: 0;
  left: 0;
  right: 10px; */
}

.logo_img img {
  width: 180px;
  float: right;
  margin-right: 40px;
  margin-top: -130px;
}

body {
  background-color: #000000;
}

/* ヘッダーメニューの設定 */
.list {
  font-family: 'Shippori Mincho', serif;
  margin-right: 50px;
  margin-top: -550px;
}

ul {
  list-style-type: none;
  line-height: 100px;
  text-align: right;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 23px;
}

.link {
  display: inline-block;
  transition: 0.3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.link:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.instagram img {
  width: 70px;
  height: 70px;
  margin-left: 170px;
  margin-top: 10px;
}

/* .icon {
  display: inline-block;
} */

.icon:hover {
  -webkit-animation: zoom 0.3s;
  animation: zoom 0.3s;
}

@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.1);
  }
}

@keyframes zoom {
  50% {
    transform: scale(1.1);
  }
}

.music {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  color: black;
  background-color: #cccccc;
  font-weight: bold;
  font-family: 'Shippori Mincho', serif;
  margin-left: 60px;
  margin-top: -65px;
  padding-left: 8px;
  padding-top: 1px;
}

.music:hover {
  -webkit-animation: zoom 0.3s;
  animation: zoom 0.3s;
}

.background {
  max-width: 1200px;
  height: 540px;
  background-color: #ffa500;
  margin-top: -405px;
  margin-left: 300px;
}

@media screen and (max-width: 1024px) {
  .video {
    max-width: 100%;
    height: 80vh;
    overflow: hidden;
  }

  #video {
    margin-top: -100px;
    max-width: 100%;
    height: 50vh;
  }

  .background {
    /* height: 8px; */
    padding-top: 515px;
    margin-left: 300px;
  }

  .list {
    margin-top: -450px;
  }

  ul {
    line-height: 80px;
  }
}

@media screen and (max-width: 768px) {
  .video {
    height: 73vh;
  }

  #video {
    margin-top: -70px;
    max-width: 100%;
  }

  .logo_img img {
    float: left;
    margin-left: 50px;
    margin-top: 60px;
  }

  .list {
    margin-top: -430px;
  }
}

@media screen and (max-width: 540px) {
  .video {
    height: 83vh;
  }

  #video {
    margin-top: -50px;
  }

  .logo_img img {
    margin-top: 90px;
    margin-left: 70px;
    max-width: 130px;
  }

  .instagram img {
    width: 60px;
    height: 60px;
    margin-left: 150px;
    margin-top: -20px;
  }

  .music {
    width: 50px;
    height: 50px;
    font-size: 13px;
    margin-left: 80px;
    margin-top: -56px;
    padding-left: 7px;
  }

  #nav li a {
    font-size: 20px;
  }
}

/* iphone 6,7,8 */
@media screen and (max-width: 480px) {
  .video {
    height: 65vh;
  }

  #video {
    margin-top: -80px;
  }

  .logo_img img {
    width: 140px;
    margin-left: 15px;
    margin-top: 170px;
  }

  .list {
    margin-top: -330px;
    margin-right: 25px;
  }

  .background {
    background-color: black;
  }

  .instagram img {
    margin-left: 95px;
  }

  .music {
    margin-left: 25px;
  }
}

/* iphone X */
@media screen and (max-width: 375px) {
  .video {
    height: 65vh;
  }

  #video {
    margin-top: -75px;
  }
}

@media screen and (max-width: 360px) {
  .video {
    height: 70vh;
  }

  #video {
    margin-top: -60px;
  }

  ul {
    line-height: 70px;
  }
}

/* iphone 5 */
@media screen and (max-width: 320px) {
  .video {
    height: 70vh;
  }

  #video {
    margin-top: -60px;
  }

  .logo_img img {
    width: 130px;
  }

  #nav li a {
    font-size: 18px;
  }

  .list {
    margin-top: -330px;
  }
}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
  .logo_img img {
    width: 100px;
  }

  .instagram img {
    width: 50px;
    height: 50px;
    margin-left: 70px;
    margin-top: -50px;
  }

  .music {
    width: 40px;
    height: 40px;
    font-size: 10px;
    margin-left: 20px;
  }
}
